# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Windows executables and installers
*.exe
*.msi

# Ignore archive files
*.zip

# Ignore log files
*.log

# Ignore development caches
.ruff_cache/
.terraform/

# Ignore Terraform state files
*.tfstate*
